*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    height:100%;
    box-sizing: border-box;
}
.ads1{
    position:relative;
    top:4rem;
   
    height: auto;
    clear: both;
    text-align: center;
    opacity: 0.8;
   
    background: linear-gradient(white,#f4f4f7);
    overflow:hidden;
}
.ads2{
    position:relative;
    top:6rem;
   
    height: auto;
    clear: both;
    text-align: center;
    opacity: 0.8;
   
    background: linear-gradient(rgb(245 245 248 / 75%),#f4f4f7);
    overflow:hidden;
}
.ads1 p,.ads2 p{
    text-align:center;
    margin-top: 6rem;
}
.main-container{
    position:relative;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display:flex;
    text-align:justify;
    top:5rem;

}
.main-content{
   width:70%;
 margin-right:5rem;

}
.main-content h1{
    text-align:left;
}
.main-content p{
    text-align:justify;
}
.main-content a img{
    width:100%;
    margin:1rem auto;
}
.main-content .imgA{
width: 70%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}
.main-content p{
    text-align:justify;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.3rem;
    
}
.main-content .download-app{

}
.download-container{
    position:relative;
     display:flex;
    justify-content:center; 
    text-align:center;
    align-items:center;
    flex-direction:column;
    margin-top:2rem;
}
.download-app{
    color:rgb(252, 247, 247);
    text-decoration:none;
    font-size:1.3em;
    background:rgb(46, 206, 139);
    border-radius:8px;
    height:3rem;
    padding: 10px;
    text-align: center;
   width:260px;
   box-shadow:0 5px 25px rgba(1 1 1 / 15%);
   transition:background 0.1s ease;
   font-weight:400;
   margin-bottom:20px;
   
}

.download-app:hover{
     background:rgb(78, 187, 78);
    transform: scale(1.03);
}
.main-content a:hover{
    color:green;
}

.main-content .ahrefA{
     display:flex;
    justify-content: center; 
    margin-top:2rem;
    margin-bottom:3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: italic;
   font-size:1.3rem;
   text-decoration: none;
}
.main-content a:hover{
    color:green;
}
.main-content h2{
    text-align: left; 
    margin-top: 2rem;
    margin-bottom:2rem;
}
.main-content ul{
    padding:1rem;
}
.main-content ul li{
    text-align:justify;
    margin:1rem;
    font-size:1.1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sub-content{
    width:30%;
    
}
.part1{
    position:sticky;
    top:5rem;
  
}
.sub-content1 a img{
    width:100%;
  
}
.sub-content1 p{
    margin-top:1rem;
    text-align:justify;
}
.sub-content1 h2{
    text-align: center; 
    margin-bottom: 1rem;
}

 .sub-content1 p{
     text-align:justify;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size:1.1rem;            
       }
.sub-content1 a:hover{
color:green;
}

.part1 p{
    text-align:center;
    opacity:0.6;
}
@media screen and (max-width:1110px){
    html{
        font-size:0.9rem;
    }
}
@media screen and (max-width:1000px){
    .main-container {
        width: 95%;

    }
    .main-content {
        width: 65%;
        margin-right: 2rem;
    }
    
}
 @media screen and (max-width:865px){
     html{
         font-size:0.85rem;
     }
    .main-content {
        width: 62%;
        margin-right: 3rem;
    }
    .sub-content {
        width: 33%;
    }
} 
@media screen and (max-width:755px){
    .main-container {
        width: 97%;
    }
    .main-content {
        width: 60%;
        margin-right: 2rem;
    }
    .main-content h1{
        font-size:1.6rem;
    }
    .sub-content {
        width: 35%;
    }
    .sub-content h2{
        font-size:1.4rem;
    }
}
@media screen and (max-width:660px){
    .main-container{
        position:relative;
        width: 90%;
        max-width: 1100px;
        margin: auto;
        display:block;
        top:5rem;
    }
    .main-content {
        width: 100%;
        margin-right: 0rem;
    }
    .main-content h3{
        text-align:left;
    }
    .sub-content {
        width: 100%;
        margin-top: 2rem;
    }
    .sub-content1 h2{
        margin-bottom:1rem;
    }
    .sub-content1 a img {
        display:block;
        position:relative;
        top:50%;
        left:50%;
        transform:translate(-50%);
        width: 70%;
    }
    .part1{
        display:none;
    }
}
