*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    height:100%;
    box-sizing: border-box;
}
.ads1{
    position:relative;
    top:4rem;
   
    height: auto;
    clear: both;
    text-align: center;
    opacity: 0.8;
   
    background: linear-gradient(white,#f4f4f7);
    overflow:hidden;
}
.ads2{
    position:relative;
    top:6rem;
   
    height: auto;
    clear: both;
    text-align: center;
    opacity: 0.8;
   
    background: linear-gradient(rgb(245 245 248 / 75%),#f4f4f7);
    overflow:hidden;
}
.ads1 p,.ads2 p{
    text-align:center;
    margin-top: 6rem;
}
.main-container{
    position:relative;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display:flex;
    text-align:justify;
    top:5rem;
}
.main-content{
   width:70%;
 margin-right:5rem;
}
.main-content img{
    width:100%;
}
.main-content p{
    text-align:justify;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.3rem;
    margin:2rem auto;
}

.main-content h1,.main-content h2{
    display:flex;
    justify-content:center;
    text-align: left; 
    font-size:2rem;
    font-weight:420;
    opacity:0.7;
    font-family: var(--wp--preset--font-family--system-font);
}
h2.head2 {
    font-size: 2.3rem;
}
a.ahrefD{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.2rem;
   font-style:italic;
   color:blue;
}
a:hover{
    color:green;
}
.main-content ul{
    padding:0rem;
}
.main-content ul li{
    text-align:justify;
    margin:1rem;
    font-size:1.3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a.ahref{
    font-size:1.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(45, 109, 204);
    text-decoration:none;
   font-style:italic;
}
.sub-content{
    width:30%;
}
.sub-content1{
    position:sticky;
    top:5rem;
}
.sub-content1 a img{
    width:100%;
    margin-top:1rem;
    margin-bottom:1rem;
  
}
.sub-content1 p{
    text-align:justify;
}
.sub-content1 h2{
    text-align: left; 
    margin-bottom: 0rem;
    font-weight:420;
    opacity:0.7;
    font-family: var(--wp--preset--font-family--system-font);
}

 .sub-content1 p{
     text-align:justify;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size:1.1rem;            
       }
.sub-content1 a:hover{
color:green;
}

.part1 p{
    text-align:center;
    opacity:0.6;
}
@media screen and (max-width:1110px){
    html{
        font-size:0.9rem;
    }
}
@media screen and (max-width:1000px){
    .main-container {
        width: 95%;

    }
    .main-content {
        width: 65%;
        margin-right: 2rem;
    }
    
}
 @media screen and (max-width:865px){
     html{
         font-size:0.85rem;
     }
    .main-content {
        width: 62%;
        margin-right: 3rem;
    }
    .sub-content {
        width: 33%;
    }
} 
@media screen and (max-width:755px){
    .main-container {
        width: 97%;
    }
    .main-content {
        width: 60%;
        margin-right: 2rem;
    }
    .main-content h1{
        font-size:1.6rem;
    }
    .sub-content {
        width: 35%;
    }
    .sub-content h2{
        font-size:1.4rem;
    }
}
@media screen and (max-width:660px){
    .main-container{
        position:relative;
        width: 90%;
        max-width: 1100px;
        margin: auto;
        display:block;
        top:5rem;
    }
    .main-content {
        width: 100%;
        margin-right: 0rem;
    }
    .main-content h3{
        text-align:left;
    }
    .sub-content {
        width: 100%;
        margin-top: 2rem;
    }
    .sub-content1 h2{
        margin-bottom:1rem;
    }
    .sub-content1 a img {
        display:block;
        position:relative;
        top:50%;
        left:50%;
        transform:translate(-50%);
        width: 70%;
    }
   .part1{
       display:none;
   }
}
@media screen and (max-width:560px){
    .main-container{
        position:relative;
        width: 90%;
        
        margin: auto;
        display:block;
        top:5rem;
    }
    .main-content {
        width: 100%;
        margin-right: 0rem;
    }
    .main-content h3{
        text-align:left;
    }
    .sub-content {
        width: 100%;
        margin-top: 2rem;
    }
}
