*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    height:100%;
    box-sizing: border-box;
}

.ads1 {
    position: relative;
    top: 4rem;
    height: auto;
    clear: both;
    text-align: center;
    opacity: .8;
    background: linear-gradient(white,#e8e8e9);
    overflow: hidden;
}

.ads2{
    position: relative;
    height: auto;
    clear: both;
    text-align: center;
    opacity: .8;
    background: linear-gradient(white,#e8e8e9);
    overflow: hidden;
    margin-top:2rem;
}

